html,body{
	height: 100%;
	margin: 0;
}
.main-frame{
	background: linear-gradient(180deg, rgba(64,63,63,1) 15%, rgba(0,0,0,1) 100%) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	height: 100%;
	padding: 30px;
}
.center{
	text-align: center;
	font-family: 'Akaya Telivigala', cursive;
}
.left{
	text-align: left;
}